

#jumbo{
  background:rgba(255, 255, 255, 0.5);
}

.top-buffer{
  margin-top: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c9ddff;
    color: white;
    text-align: center;
}

.con:link {
    color: black;
}

/* visited link */
.con:visited {
    color: black;
}

/* mouse over link */
.con:hover {
    color: #3baece;
}

/* selected link */
.con:active {
    color: #a0a0a0;
}
